<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>Good Luck</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico" /> -->

    <link rel="stylesheet" type="text/css" href="{% static 'App1/css/index.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <meta name="robots" content="noindex, follow" />

  </head>
  <body>
    <div class="limiter">
      <div
        class="container-100"
        style='background-image: url("{% static "App1/images/bg-01.jpg" %}")'
      >
      {% if user.is_authenticated %}
      <div class="wrap-100 p-l-55 p-r-55 p-t-65 p-b-54">
        <p>Authenticated</p>
      </div>
      {% else %}
        <div class="wrap-100 p-l-55 p-r-55 p-t-65 p-b-54">
          <!-- <form class="form-100"> -->
            {% csrf_token %}
            <span class="form-title p-b-49"> Sign In </span>
            <div class="fields">
              <div
                class="wrap-input100 validate-input m-b-23"
              >
                <span class="label-input100">Username</span>
                <input
                  class="input100"
                  type="text"
                  name="username"
                  placeholder="Type your username"
                  maxlength="20"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
                <span class="required_fields display_none" id="username_error">This field is required.</span>
              </div>
              <div
                class="wrap-input100 validate-input"
              >
                <span class="label-input100">Password</span>
                <input
                  class="input100"
                  type="password"
                  name="pass"
                  placeholder="Type your password"
                />
                <span class="focus-input100" data-symbol="&#xf190;"></span>
                <span class="required_fields display_none" id="pass_error">This field is required.</span>
              </div>
            </div>
            <div class="text-right p-t-8 p-b-31">
              <a href="#" class="forget_pass"> Forgot password? </a>
            </div>
            <div class="container-100-form-btn">
              <div class="wrap-100-form-btn">
                <div class="bt-100-form-bgbtn"></div>
                <button class="bt-100-form-btn sign_in">Sign In</button>
                <button class="bt-100-form-btn sign_up display_none">Sign Up</button>
                <button class="bt-100-form-btn forget_pass_otp display_none">Send OTP</button>
                <button class="bt-100-form-btn otp_submit display_none">Submit</button>
                <button class="bt-100-form-btn spinner display_none"><div class="spinner-border text-info" role="status">
                  <span class="visually-hidden"></span>
                </div></button>
                
              </div>
            </div>
            <!-- <div class="txt1 text-center p-t-54 p-b-20">
              <span> Or Sign Up Using </span>
            </div>
            <div class="flex-c-m">
              <a href="#" class="btt-100-form-btn bg1">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btt-100-form-btn bg2">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btt-100-form-btn bg3">
                <i class="fa fa-google"></i>
              </a>
            </div> -->
            <div class="flex-col-c p-t-155">
              <span class="txt1 p-b-17 sign_text"> Or Sign Up Using </span>
              <a class="txt2" id="sign_up_btn"> Sign Up </a>
              <a class="txt2 display_none" id="sign_in_btn"> Sign In </a>
            </div>
          <!-- </form> -->
        </div>
      {% endif %}
      </div>
    </div>
    <div id="dropDownSelect1"></div>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'App1/js/index.js' %}"></script>

  </body>
</html>
