{% extends 'App1/index.html' %}
{% block title %}Hello Guys! - Tools{% endblock title %}  
{% block body %}
<div class="container">
    <div class="row my-5 text-center">
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/jpg-2-pdf">JPG to PDF</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/jpg-2-pdf">PDF to JPG</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/jpg-2-pdf">DOC to PDf</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/jpg-2-pdf">PDF to DOC</a>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/pdf-merge">PDF Merge</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/compress-file">Compress File</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/split-pdf">Split PDF</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/powerpoint-2-pdf">POWERPOINT to PDF</a>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/pdf-2-powerpoint">PDF to POWERPOINT</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/excel-2-pdf">EXCEL to PDF</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/pdf-2-excel">PDF to EXCEL</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/html-2-pdf">HTML to PDF</a>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col col-3">
            <a class="btn btn-outline-success" href="/edit-pdf">Edit PDF</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
        <div class="col col-3">
            <a class="btn btn-outline-success" href="#">Comming Soon</a>
        </div>
    </div>
</div>
{% endblock body %}